<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appccelerate.CheckTestFixtureAttributeSetTask" version="1.7.0" targetFramework="net452" />
  <package id="marked" version="0.3.2" targetFramework="net452" />
  <package id="marked-element" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="0.22.19-build00125" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="neon-animation" version="1.0.1" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="paper-behaviors" version="1.0.0" targetFramework="net452" />
  <package id="paper-button" version="1.0.1" targetFramework="net452" />
  <package id="paper-checkbox" version="1.0.1" targetFramework="net452" />
  <package id="paper-dialog" version="1.0.0" targetFramework="net452" />
  <package id="paper-dialog-behavior" version="1.0.0" targetFramework="net452" />
  <package id="paper-dialog-scrollable" version="1.0.0" targetFramework="net452" />
  <package id="paper-drawer-panel" version="1.0.1" targetFramework="net452" />
  <package id="paper-elements" version="1.0.0" targetFramework="net452" />
  <package id="paper-fab" version="1.0.1" targetFramework="net452" />
  <package id="paper-header-panel" version="1.0.1" targetFramework="net452" />
  <package id="paper-icon-button" version="1.0.0" targetFramework="net452" />
  <package id="paper-input" version="1.0.0" targetFramework="net452" />
  <package id="paper-item" version="1.0.0" targetFramework="net452" />
  <package id="paper-material" version="1.0.0" targetFramework="net452" />
  <package id="paper-menu" version="1.0.0" targetFramework="net452" />
  <package id="paper-progress" version="1.0.0" targetFramework="net452" />
  <package id="paper-radio-button" version="1.0.1" targetFramework="net452" />
  <package id="paper-radio-group" version="1.0.1" targetFramework="net452" />
  <package id="paper-ripple" version="1.0.0" targetFramework="net452" />
  <package id="paper-scroll-header-panel" version="1.0.1" targetFramework="net452" />
  <package id="paper-slider" version="1.0.1" targetFramework="net452" />
  <package id="paper-spinner" version="1.0.1" targetFramework="net452" />
  <package id="paper-styles" version="1.0.3" targetFramework="net452" />
  <package id="paper-tabs" version="1.0.0" targetFramework="net452" />
  <package id="paper-toast" version="1.0.0" targetFramework="net452" />
  <package id="paper-toggle-button" version="1.0.1" targetFramework="net452" />
  <package id="paper-toolbar" version="1.0.0" targetFramework="net452" />
  <package id="polymer" version="1.0.0" targetFramework="net452" />
  <package id="polymer-core-component-page" version="0.5.5" targetFramework="net452" />
  <package id="polymer-cyclic" version="0.5.5" targetFramework="net452" />
  <package id="polymer-iron-a11y-announcer" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-a11y-keys" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-a11y-keys-behavior" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-ajax" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-autogrow-textarea" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-behaviors" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-collapse" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-component-page" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-doc-viewer" version="1.0.2" targetFramework="net452" />
  <package id="polymer-iron-elements" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-fit-behavior" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-flex-layout" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-form" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-form-element-behavior" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-icon" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-icons" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-iconset" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-iconset-svg" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-image" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-input" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-jsonp-library" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-localstorage" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-media-query" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-menu-behavior" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-meta" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-overlay-behavior" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-pages" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-range-behavior" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-resizable-behavior" version="1.0.0" targetFramework="net452" />
  <package id="polymer-iron-selector" version="1.0.2" targetFramework="net452" />
  <package id="polymer-iron-signals" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-test-helpers" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-validatable-behavior" version="1.0.1" targetFramework="net452" />
  <package id="polymer-iron-validator-behavior" version="1.0.1" targetFramework="net452" />
  <package id="polymer-platform" version="0.5.5" targetFramework="net452" />
  <package id="PolySharper" version="0.1.2" targetFramework="net452" />
  <package id="prism-element" version="1.0.2" targetFramework="net452" />
  <package id="WebComponentJS" version="0.6.0.2" targetFramework="net452" />
  <package id="WebSharper" version="2.5.130.67" targetFramework="net452" />
</packages>